.ribbon {
  background-color: #f07300;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 40px;
  z-index: 5;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

#show-name {
  font-family: 'Exo 2',Helvetica,sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
}

html, body{
  margin: 0px;
  border: 0px;
  font-size: 14px;
}

header, section, footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

header, footer {
  background-color: #210;
  color: #fff;
}

header h1 {
  font-size: 2em;
  margin: 0px;
}

header p {
  margin-bottom: 0px;
}

section {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

section h1 {
  font-size: 3em;
}

a {
  color: #f07300;
}

hr {
  border: 1px #f07300 dashed;
  margin-top, margin-bottom: 30px;
}

#custom-tweet-button {
  margin-bottom: 30px;
}

.header-text {
  position: relative;
  width: 50%;
  left: 25%;
}